<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GoNodeJS - Desafio 01</title>
</head>

<body>
  {{ erro }}
  <form method="POST" action="/check">
    <label>Nome:</label>
    <input name='nome' />
    <br>

    <label>Data Nascimento:</label>
    <input name='dataNascimento' placeholder="dd/mm/aaaa" />
    <br>
    <button type="submit">Enviar</button>

  </form>
</body>

</html>
